.fa-arrow-left {
  font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
}

.image-menu {
  height: 300px;
  img {
    height: 100%;
    width: 100%;
  }
}

.menu-main {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 50px 10px;
  background-color: $light-grey;
  border-radius: 25px 25px 0 0;
  h1 {
    display: flex;
    .fa-heart {
      margin-left: auto;
    }
  }
}

.article-menu {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  .menu-titre-carte {
    margin-bottom: 20px;
  }
}

.article-menu ul li {
  background-color: #fff;
  margin-bottom: 17px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  @extend .shadow;
  &:hover {
    cursor: pointer;
    button {
      margin-right: 0;
    }
  }
}

.article-menu ul li article {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: 95%;
  padding: 10px 0 10px 10px;
}

.article-menu ul li article .menu-content {
  display: flex;
  justify-content: space-between;
}

.menu-content p {
  font-size: 13px;
}

.article-menu ul li article .menu-content span {
  padding-right: 5px;
}

.article-menu ul li button {
  margin-right: -55px;
  transition: all 0.4s;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    margin-left: 42%;
  }
  .article-menu {
    display: flex;
    flex-direction: column;
    h3 {
      align-self: center;
    }
    .menu-titre {
      align-self: flex-start;
    }
  }

  .liste-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .menu {
      width: 48%;
    }
  }
}
