.fa-arrow-left {
  font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
}

.image-menu {
  height: 300px;
  img {
    height: 100%;
    width: 100%;
  }
}

.menu-main {
  padding: 20px 10px 50px 10px;
  background-color: $light-grey;
  border-radius: 25px 25px 0 0;
  h1 {
    display: flex;
    .fa-heart {
      margin-left: auto;
    }
  }
}

.article-menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  .liste-menu {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    .menu {
      display: grid;
      grid-template-areas:
        "h3  button"
        "price button";
      height: 60px;
      background-color: #fff;
      border-radius: 15px;
      border: none;
      &:hover + .btn-menu {
        display: none;
      }
      h3 {
        grid-area: h3;
      }
      .menu-content {
        display: flex;
        justify-content: space-between;
        grid-area: price;
        p {
          font-size: 13px;
          /*  grid-area: p; */
        }
        span {
          /* grid-area: price; */
          font-weight: bold;
          justify-self: end;
        }
      }
      button {
        grid-area: button;
        justify-self: end;
      }
    }
  }
}
