.fa-arrow-left {
  font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
}

.menu-main {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 50px 10px;
  background-color: $light-grey;
  border-radius: 30px 30px 0 0;

  h1 {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .fa-heart {
      font-size: 1em;
      position: absolute;
      right: 15px;
    }
    .heart {
      color: transparent;
      animation-direction: alternate;
      &:hover {
        animation: fullHeart 2s;
        background: $btn-color;
        -webkit-background-clip: text;
      }
    }
  }
}

@keyframes fullHeart {
  0% {
    opacity: 0;
    height: 0%;
  }

  100% {
    opacity: 1;
    height: 80%;
  }
}

.article-menu {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  .menu-titre-carte {
    position: relative;
    margin-bottom: 20px;
    .barre-verte {
      position: absolute;
      left: 0;
      bottom: -7px;
      height: 3px;
      width: 50px;
      background-color: $tertiary-color;
    }
  }
}

.menu {
  display: flex;
  background-color: #fff;
  margin-bottom: 17px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  position: relative;
  .btn-menu {
    margin-right: -55px;
  }
  &:active {
    cursor: pointer;
    .fa-effet {
      animation: fa-effet 800ms forwards;
    }
    .btn-menu {
      margin-right: 0;
      transition: 0.6s;
    }
  }
}

.--no-delay {
  animation: menu-effet 800ms ease forwards;
}
.--delay {
  animation: -delay 1000ms ease forwards;
}
.--delay-un {
  animation: -delay1 1200ms ease forwards;
}

.menu-titre {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-content p {
  flex-direction: row;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes menu-effet {
  from {
    opacity: 0;
    bottom: -50px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes -delay {
  from {
    opacity: 0;
    bottom: -50px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes -delay1 {
  from {
    opacity: 0;
    bottom: -50px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes fa-effet {
  0% {
    transform: rotate(2turn);
  }
}

.article-menu ul li article {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: 95%;
  padding: 10px 0 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  p {
    font-size: 13px;
  }
  span {
    padding-right: 5px;
    font-weight: bold;
  }
}
.menu:hover {
  scale: 1.02;
}

@media screen and (min-width: 768px) /* and (max-width: 1024px) */ {
  h1 {
    margin-left: 43%;
  }
  .article-menu {
    display: flex;
    .menu-titre {
      align-self: flex-start;
    }
  }

  .liste-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .menu {
      width: 44%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .menu-contenu {
    display: flex;
    justify-content: space-around;
    li {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .liste-menu {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    .menu {
      width: 100%;
    }
  }
  .article-menu {
    width: 90%;
  }
}
