.footer {
  padding: 20px;
  background-color: grey;

  img {
    width: 100px;
    margin-bottom: 15px;
  }
  .liste-footer {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    color: #fff;
  }
}

@media screen and (min-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
    .footer img {
    }
  }

  .footer {
    .liste-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      color: #fff;
    }
  }
}
