.footer {
  padding: 20px;
  background-color: grey;

  .liste-footer {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    color: #fff;
  }
}

.fa-utensils {
  margin-right: 15px;
}

.fa-hands-helping {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    .liste-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      color: #fff;
    }
  }
  .--logo-footer {
    text-align: center;
  }
}
