.footer {
  padding: 20px;
  background-color: $footer-color;

  .liste-footer {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    li a {
      color: #fff !important;
    }
  }
}

.--logo-footer {
  color: #fff;
  padding-bottom: 16px;
  font-size: 22px;
}

.fa-utensils {
  margin-right: 15px;
}

.fa-hands-helping {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    .liste-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  .--logo-footer {
    color: #fff;
    text-align: center;
  }
}
