.header {
  display: flex;
  a {
    margin: auto 20px;
  }
  .logo {
    &--acceuil {
      margin: 20px auto;
    }
    &--restaurant {
      margin: 20px 30px 20px 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .logo {
    &--restaurant {
      margin: 20px auto !important;
    }
  }
}
