* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}

ul {
  list-style-type: none;
}

.main {
  min-width: 320px;
  padding: 0;
}

img {
  object-fit: cover;
}

a,
a:hover,
a:visited,
a:active {
  color: #000;
  text-decoration: none;
}

.btn {
  padding: 15px 10px;
  width: 185px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(170deg, #ff79da, 30%, #9356dc);
  color: #fff !important;
  align-self: center;
}
.btn--commander {
  align-self: center;
  margin: 35px 0;
}
.btn:hover {
  background-color: 60%;
}

.btn-menu {
  width: 55px;
  background-color: #99e2d0;
  color: #fff;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 0 10px 10px 0;
}

/* i.far {
  color: $primary-color;
  &:hover {
    display: none;
  }
}

i.fas {
  display: none;
  color: $primary-color;
  &:hover {
    display: block;
    color: $primary-color;
  }
} */
.shadow, .li-restaurant .card-restaurant figcaption, .liste-fonctionnement li, .article-menu ul li, .btn {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.fa-arrow-left {
  font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
}

.image-menu {
  height: 300px;
}
.image-menu img {
  height: 100%;
  width: 100%;
}

.menu-main {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 50px 10px;
  background-color: #efefef;
  border-radius: 25px 25px 0 0;
}
.menu-main h1 {
  display: flex;
}
.menu-main h1 .fa-heart {
  margin-left: auto;
}

.article-menu {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.article-menu .menu-titre-carte {
  margin-bottom: 20px;
}

.article-menu ul li {
  background-color: #fff;
  margin-bottom: 17px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}
.article-menu ul li:active {
  cursor: pointer;
}
.article-menu ul li:active button {
  margin-right: 0;
}

.article-menu ul li article {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: 95%;
  padding: 10px 0 10px 10px;
}

.article-menu ul li article .menu-content {
  display: flex;
  justify-content: space-between;
}

.menu-content p {
  font-size: 13px;
}

.article-menu ul li article .menu-content span {
  padding-right: 5px;
}

.article-menu ul li button {
  margin-right: -55px;
  transition: all 0.4s;
}

@media screen and (min-width: 768px) {
  h1 {
    margin-left: 46%;
  }

  .article-menu {
    display: flex;
    flex-direction: column;
  }
  .article-menu h3 {
    align-self: center;
  }
  .article-menu .menu-titre {
    align-self: flex-start;
  }

  .liste-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .liste-menu .menu {
    width: 44%;
  }
}
.search-restaurant {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  background-color: #efefef;
}
.search-restaurant .localisation {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}
.search-restaurant h2 {
  width: 80%;
  align-self: center;
  text-align: center;
}
.search-restaurant p {
  text-align: center;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
}

.liste-fonctionnement {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}
.liste-fonctionnement li {
  height: 60px;
  width: 90%;
  display: flex;
  border-radius: 10px;
  background-color: #efefef;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.fa-mobile-alt,
.fa-list-ul,
.fa-store {
  margin-right: 20px;
  color: #9356dc;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}
.restaurant h2 {
  padding: 40px 0 15px 18px;
}

.liste-restaurant {
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
}

.li-restaurant {
  width: 90%;
  margin-bottom: 50px;
}
.li-restaurant .card-restaurant {
  height: 150px;
  width: 100%;
  position: relative;
}
.li-restaurant .card-restaurant .nouveau {
  padding: 5px 8px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  font-weight: bold;
  color: #278870;
  background-color: #99e2d0;
}
.li-restaurant .card-restaurant img {
  height: 80%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.li-restaurant .card-restaurant figcaption {
  position: relative;
  padding: 10px 10px 10px 10px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  overflow-y: hidden;
}
.li-restaurant .card-restaurant figcaption .far {
  font-size: 1.5em;
  position: absolute;
  right: 15px;
  top: 35%;
}

@media screen and (min-width: 768px) {
  h2 {
    align-self: center;
  }

  .liste-restaurant {
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 65px;
  }

  .li-restaurant {
    width: 33%;
    margin-bottom: 50px;
  }

  .liste-fonctionnement {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    column-gap: 15px;
  }
  .liste-fonctionnement li {
    height: 115px;
    width: 30%;
    display: flex;
    border-radius: 10px;
    background-color: #efefef;
    justify-content: center;
    align-items: center;
  }
}
/* @media screen and (min-width: 1025px) {
  .card-restaurant {
    img {
      height: 96%;
    }
  }
} */
.header {
  display: flex;
}
.header a {
  margin: auto 20px;
}
.header .logo {
  width: 10em;
}
.header .logo--acceuil {
  margin: 20px auto;
}
.header .logo--restaurant {
  margin: 20px 30px 20px 30px;
}

@media screen and (min-width: 768px) {
  .logo--restaurant {
    margin: 20px auto !important;
  }
}
.footer {
  padding: 20px;
  background-color: grey;
}
.footer img {
  width: 100px;
  margin-bottom: 15px;
}
.footer .liste-footer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  color: #fff;
}

@media screen and (min-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer .liste-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
  }
}

/*# sourceMappingURL=style.css.map */
