* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}

ul {
  list-style-type: none;
}

.main {
  min-width: 320px;
  padding: 0;
}

img {
  object-fit: cover;
}

a,
a:hover,
a:visited,
a:active {
  color: #000;
  text-decoration: none;
}

.btn {
  height: 45px;
  width: 185px;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: #9356dc;
}
.btn--search {
  align-self: center;
}
.btn--commander {
  align-self: center;
  margin: 35px 0;
}

.btn-menu {
  width: 55px;
  background-color: #99e2d0;
  color: #fff;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 0 15px 15px 0;
}

/* .btn-menu {
    display: none;
    :hover {
      width: 55px;
      background-color: $tertiary-color;
      color: #fff;
      padding: 12px 16px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      border-radius: 0 15px 15px 0;
    }
  } */
.fa-arrow-left {
  font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
}

.image-menu {
  height: 300px;
}
.image-menu img {
  height: 100%;
  width: 100%;
}

.menu-main {
  padding: 20px 10px 50px 10px;
  background-color: #efefef;
  border-radius: 25px 25px 0 0;
}
.menu-main h1 {
  display: flex;
}
.menu-main h1 .fa-heart {
  margin-left: auto;
}

.article-menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.article-menu .liste-menu {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.article-menu .liste-menu .menu {
  display: grid;
  grid-template-areas: "h3  button" "price button";
  height: 60px;
  background-color: #fff;
  border-radius: 15px;
  border: none;
}
.article-menu .liste-menu .menu:hover + .btn-menu {
  display: none;
}
.article-menu .liste-menu .menu h3 {
  grid-area: h3;
}
.article-menu .liste-menu .menu .menu-content {
  display: flex;
  justify-content: space-between;
  grid-area: price;
}
.article-menu .liste-menu .menu .menu-content p {
  font-size: 13px;
  /*  grid-area: p; */
}
.article-menu .liste-menu .menu .menu-content span {
  /* grid-area: price; */
  font-weight: bold;
  justify-self: end;
}
.article-menu .liste-menu .menu button {
  grid-area: button;
  justify-self: end;
}

.search-restaurant {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  background-color: #efefef;
}
.search-restaurant .localisation {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}
.search-restaurant h2 {
  width: 80%;
  align-self: center;
  text-align: center;
}
.search-restaurant p {
  text-align: center;
}

.fonctionnement {
  padding: 30px 10px;
}
.fonctionnement .liste-fonctionnement {
  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.fonctionnement .liste-fonctionnement li::marker {
  background: #9356dc;
}
.fonctionnement .liste-fonctionnement li {
  width: 90%;
}
.fonctionnement .liste-fonctionnement li fieldset {
  text-align: center;
}
.fonctionnement .liste-fonctionnement li .step {
  display: flex;
  justify-content: center;
  height: 65px;
  border-radius: 12px;
  text-align: center;
  position: relative;
  background-color: #efefef;
}
.fonctionnement .liste-fonctionnement li .step .fa-store,
.fonctionnement .liste-fonctionnement li .step .fa-list-ul,
.fonctionnement .liste-fonctionnement li .step .fa-mobile-alt {
  color: grey;
  align-self: center;
  position: absolute;
  left: 30px;
}
.fonctionnement .liste-fonctionnement li .step p {
  font-weight: bold;
  padding-top: 25px;
}

.restaurant {
  background-color: #efefef;
}
.restaurant h2 {
  padding: 40px 0 15px 18px;
}

.liste-restaurant {
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
}

.li-restaurant {
  width: 90%;
  margin-bottom: 50px;
}
.li-restaurant .card-restaurant {
  height: 150px;
  width: 100%;
  position: relative;
}
.li-restaurant .card-restaurant .nouveau {
  padding: 5px 8px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  color: #fff;
  background-color: #99e2d0;
}
.li-restaurant .card-restaurant img {
  height: 80%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.li-restaurant .card-restaurant figcaption {
  position: relative;
  padding: 10px 10px 10px 10px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}
.li-restaurant .card-restaurant figcaption .fa-heart {
  font-size: 1.5em;
  position: absolute;
  right: 15px;
  top: 35%;
}

.header {
  width: 100%;
  display: flex;
}
.header a {
  margin: auto 20px;
}
.header .logo {
  width: 10em;
}
.header .logo--acceuil {
  margin: 20px auto;
}
.header .logo--restaurant {
  margin: 20px 30px 20px 30px;
}

.footer {
  padding: 20px;
  background-color: grey;
}
.footer img {
  width: 100px;
  margin-bottom: 15px;
}
.footer .liste-footer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  color: #fff;
}

/* .fa-utensils,
  .fa-hands-helping {
    padding-right: 5px;
  } */

/*# sourceMappingURL=style.css.map */
