* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}

ul {
  list-style-type: none;
}

.main {
  min-width: 320px;
  padding: 0;
}

img {
  object-fit: cover;
}

a,
a:hover,
a:visited,
a:active {
  color: #000;
  text-decoration: none;
}
