* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}
.titre-shrikhand {
  font-family: "Shrikhand", cursive;
  font-size: 32px;
}

.--logo-footer {
  padding-bottom: 16px;
  font-size: 22px;
}

.main {
  min-width: 320px;
  padding: 0;
}

img {
  object-fit: cover;
}

a,
a:hover,
a:visited,
a:active {
  color: #000;
  text-decoration: none;
}

.container {
  min-height: 100%;
  max-width: 1920px;
  z-index: 1;
}
