.btn {
  padding: 15px 10px;
  width: 185px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
  background: $btn-color;
  @include shadow;
  color: #fff !important;
  align-self: center;
  overflow: hidden;
  transition: 800ms;
  &:hover {
    transform: scale(1.06);
    filter: brightness(1.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 12px,
      rgba(0, 0, 0, 0.6) 0px 6px 12px;
  }
  &--commander {
    align-self: center;
    margin: 35px 0;
  }
}

.btn-menu {
  width: 55px;
  background-color: $tertiary-color;
  color: #fff;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 0 10px 10px 0;
}
