@import url(./_mixin.scss);

.btn {
  padding: 15px 10px;
  width: 185px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
  background: $btn-color;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: #fff !important;
  align-self: center;
  overflow: hidden;
  &:hover {
    scale: 1.1;
    filter: brightness(1.1);
  }
  &--commander {
    align-self: center;
    margin: 35px 0;
  }
}

.btn-menu {
  width: 55px;
  background-color: $tertiary-color;
  color: #fff;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 0 10px 10px 0;
}
