.btn {
  padding: 15px 10px;
  width: 185px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
  background: $btn-color;
  @extend .shadow;
  color: #fff !important;
  align-self: center;
  &--commander {
    align-self: center;
    margin: 35px 0;
  }
  &:hover {
    background-color: lightness($color: #9356dc);
  }
}

.btn-menu {
  width: 55px;
  background-color: $tertiary-color;
  color: #fff;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 0 10px 10px 0;
}
