$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$light-grey: #f6f6f6;
$footer-color: #363636;
$item-hover: #f5edff;
$btn-color: linear-gradient(180deg, $secondary-color, 43%, $primary-color);
